.food {
    margin: 0;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRj7wM0GlZ-GDN3vRCeLECCcw7iPiuHzQj1zQ&usqp=CAU');
    background-position: center;
    background-size: cover;
    height: 300px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.food_search_box {
    width: 80%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search_heading {
    font-size: 50px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 15px;
    color: white;
    font-family: "Times New Roman", Times, serif;
    letter-spacing: 2px;
    width: max-content;
    text-shadow: 0 0 5px #a2b2c2;
}

.food_search_input {
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
    border-radius: 0px;
    outline: none;
    border: none;
}
